@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #2CB3F3;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 7vh;
    padding: 10vh;
}
p{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 8vh;
    font-size: 4vh;
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.headfinn{
    background-color: #ffffff;
    width: 45vw;
    height: 65vh;
    border-radius: 15% 15% 0 0;
}
.facefinn{
    width: 30vw;
    height: 50vh;
    background-color: #FFE1C9;
    border-radius: 50%;
    position: relative;
    top: 8vh;
    left: 7.5vw;
}
.righteye{
    width: 2.3vw;
    height: 5.3vh;
    background-color: #000000;
    border-radius: 60%;
    position: relative;
    top: 10vh;
    left: 8vw;
}
.lefteye{
    width: 2.3vw;
    height: 5.3vh;
    background-color: #000000;
    border-radius: 60%;
    position: relative;
    top: 10vh;
    right: 8vw;
    position: absolute;
}
.mouthfinn{
    position: absolute;
    top: 26vh;
    left: 7.6vw;
}
.mouthfinn input{
    width: 15vw;
    height: 6vh;
    font-size: 2.5vh;
    border: 2px solid #000000;
    border-radius: 2%;
}
.enter{
    cursor: pointer;
    width: 11vw;
    height: 8vh;
    color: #FFFF;
    font-size: 1.2vw;
    background-color: #55A603;
    font-weight: 600;
    position: absolute;
    top: 100vh;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
